footer,header {
    background-color: black;
    color: white;
    padding: 20px;
}
body {
    margin : 0;
}
.center {
    text-align: center;
}
#carouselExampleIndicators {
    
}
#carouselExampleIndicators >div > div > img{
    height: 50vh;
}
#social-contact > div > a > img {
    height : 50px ;
}
hr {
    border-top: 2.5px solid black;
    width: 10%;
}

